graft docs
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include CODE_OF_CONDUCT.rst
include LICENSE
include README.rst

include tox.ini
include mypy.ini
include setup.py

global-exclude *.py[cod] *.so *.DS_Store
global-exclude __pycache__ .mypy_cache .pytest_cache .hypothesis
